@page "/Login"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime;
@using kuro_desserts.Models
@using System.Net

<PageTitle>Login</PageTitle>

<h3>Login</h3>
<EditForm Model="@_user" class="form-control bg-transparent border-0 p-5" OnValidSubmit="NewSession" OnInvalidSubmit="ShowError">
    <label class="form-label">Username</label>
    <div class="input-group has-validation">
        <span class="input-group-text">@@</span>
        <InputText @bind-Value="_user.Username" class="form-control"></InputText>
        <ValidationMessage For="@(() => _user.Username)"></ValidationMessage>
    </div>

    <label class="form-label">Password</label>
    <div class="input-group has-validation">
        <InputText @bind-Value="_user.Password" class="form-control"></InputText>
        <ValidationMessage For="@(() => _user.Password)"></ValidationMessage>
    </div>

    @if (_isError)
    {
        <p class="text-danger mb-0">@_errorMessage</p>
    }

    <button class="btn btn-primary mt-3" type="submit" disabled="@_isSubmitting">Login</button>

    @* Enable data validation  *@
    <DataAnnotationsValidator/>
</EditForm>

@code {
    readonly LoginRequest _user = new();
    bool _isError;
    bool _isSubmitting;
    string _errorMessage = "Please review the form.";

    async Task NewSession()
    {
        _isError = false;
        _isSubmitting = true;

        var response = await HttpClient.PostAsJsonAsync(
            $"{NavigationManager.BaseUri}api/auth/login", _user);
        if (response.StatusCode == HttpStatusCode.Unauthorized)
        {
            _errorMessage = "Invalid Credentials";
            _isError = true;
            _isSubmitting = false;
            return;
        }
        var token = response.Content.ReadFromJsonAsync<string>().Result;
        await JsRuntime.InvokeAsync<object>("WriteCookie.WriteCookie", "token", token, DateTime.Now.AddDays(15));
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

    private void ShowError()
    {
        _isError = true;
    }

}